.container {
    background-color: aliceblue;
    width: 80%;
}

#h11 {
    margin-left: 10%;
    margin-top: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: steelblue;
}

#h12 {
    margin-left: 5%;
    padding-top: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container label {
    margin-left: 5%;
    font-size: 20px;
}

.labelfeild {
    margin-top: 2%;
}

#answer {
    background-color: white;
}

#calculate {
    margin-left: 370px;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 2%;
}