.container {
    background-color: aliceblue;
    width: 80%;
    height: 55%;
    align-self: center;
}

.jumbotron {
    width: 100%;
}

.image {
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.siwtcher {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.button123 {
    text-align: center;
}

#h11 {
    margin-left: 10%;
    margin-top: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: steelblue;
}