.doctors1234 {
    margin-top: 2%;
    align-content: center;
    margin-left: 3%;
}

.booknow {
    margin-top: 15px;
}

body {
    background-color: aliceblue;
}

.jumbotron {
    margin-top: 2%;
    margin-bottom: 2%;
}